<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<style>
  #perfil{display:none;}
</style>
<body class="fStack purple homeImg">
<div class="cStack jCenter toHomePosition">
  <div class="smallTitle">- Perfil -</div>
</div>
<div class="row-content">
  <input type="file" class="circle">
  <div class="column-content">
    <h2 class="white">- Elige tu nombre de usuario -</h2>
    <input class="username-input" type="text" name="" >
  </div>
</div>
<div class="cStack jCenter toHomePosition">
  <h2 class="white ">- Descríbete -</h2>
</div>
<div class="cStack jCenter toHomePosition">
  <input type="text" max="800" class="describe-input">
</div>
<div class="group">
  <a class="n1buton aniScale" href="">Entrar</a>
</div>

</body>
</html>
