<div *ngIf="id_perfil_publicacion == id_perfil_localStg">
  <div *ngIf="comentario" (click)="borrarComentario(comentario.id)" class="animated comentario comentarioPropio animate__animated animate__fadeInTopLeft">
    {{comentario.texto}}
    <div *ngIf="perfil">
      <p>{{perfil.username}}</p>
    </div>
  </div>
</div>

<div *ngIf="id_perfil_publicacion != id_perfil_localStg">
  <div *ngIf="comentario" class="comentario animate__animated animate__fadeInTopLeft" (click)="borrarComentario(comentario.id)">
    {{comentario.texto}}
    <div *ngIf="perfil">
      <p>{{perfil.username}}</p>
    </div>
  </div>
</div>



