<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="fStack purple homeImg">

<form class="vStack">
  <div class="cStack">
    <input class="inputfield animated white" type="text" name="" placeholder="Nombre de usuario o email">
    <input class="inputfield animated white" type="text" name="" placeholder="Contraseña">
    <div class="cStack">
      <a class="n1buton aniScale" href="">Entrar</a>
      <a class="n1link animated" href="">¿No tienes cuenta aún?</a>
    </div>
  </div>


</form>
</body>
</html>
