<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Perfiles</title>
</head>
<body class="fStack purple homeImg">

<form class="vStack">

  <div class="cStack" *ngIf="perfiles.length > 0">
    <div class="smallTitle">- Perfiles -</div>
    <div class="listaPerfiles">
      <div *ngFor="let perfil of perfiles">
        <app-perfil [perfil]="perfil"></app-perfil>
      </div>
    </div>
  </div>

  <div class="cStack" *ngIf="perfiles.length == 0">
    <div class="smallTitle">- Crear Perfil -</div>

  </div>


</form>
</body>
</html>
