<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Perfiles</title>
</head>
<body class="fStack purple homeImg">

<form class="vStack">

  <div class="cStack" >
    <div class="smallTitle">- Perfiles -</div>
    <div class="listaPerfiles">
      <div *ngFor="let perfil of perfiles">
        <app-perfil [perfil]="perfil"></app-perfil>
      </div>
     <div style="height: fit-content; margin: auto 0">
       <div class="divperfil2"  [routerLink]="['/crearPerfil']">
         <div class="inBubble">
           <img src="assets/icons8-más-96.png">
         </div>
         <div class="userinfo semiWhite">
           <h3 class="nombre white">Nuevo perfil</h3>
         </div>
       </div>
     </div>
    </div>
  </div>



</form>
</body>
</html>
