body::-webkit-scrollbar{
  display: none;
}
html{
  background-color: rgb(34,6,69);
}

.initial{
  margin: 0;
  padding: 0;


}
.absolute{
  position: absolute;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  font-family: 'Varela Round', sans-serif;
}

.purple{
  background-color: rgb(34,6,69);
}

.white{
  color: white;
}

.semiWhite{
  color: rgba(255, 255, 255, 0.5);
}

.red{
  background-color: #e10000;
  color: white;
}

.clear{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.dark{
  background-color: black;
  color: white;
}

.cover{
  width: auto;
  height: 100vh;
  object-fit: cover;
}

.fStack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hStack{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.vStack{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.cStack{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
}
.toHomePosition{
  margin: 0 auto 0 auto;
}

.jCenter{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.withShadow{
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.35);
}


