@media (min-device-width: 1201px) {

  .btnPrincipal{
    text-align: center;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: .7rem 2rem;
    color: black;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: solid .2rem rgb(255, 255, 255);
    text-decoration: none;
  }::placeholder{
     color: rgba(255, 255, 255, 0.5);
   }
  .btnSecondary{
    text-align: center;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    text-decoration: none;
  }
  .inputfield{
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    width: 20rem;
    margin: auto;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: solid .2rem rgba(255, 255, 255, 0);

  }
  .inputfieldDate{
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    width: 17.5rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: solid .2rem rgba(255, 255, 255, 0);
    margin-top: 10px;

  }
  .inputfield:focus-visible{
    border: solid .2rem white;
  }

  .labelDate{
    color: rgba(240, 248, 255, 0.55);
  }

  .n1buton{
    width: 5rem;
    font-size: 1rem;
    text-align: center;
    padding: .7rem 1.2rem;
    margin: auto;
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    color: black;
  }
  .n1link{
    width:auto;
    text-align: center;
    padding: .5rem 1rem;
    margin: auto;
    text-decoration: none;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
  }

  .p05-1{
    padding: .5rem 1rem;
    text-decoration: underline;
  }

  .wAuto{
    width: auto;
    text-align: center;
  }

  .homeImg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/bubble.v4.logo.v6.png");
  }
  .homeLogo{
    margin: 5rem auto;
    font-size: 10rem;
    font-family: 'Righteous', cursive;
    text-align: center;
  }
  .logoImg{
    width: auto;
    object-fit: cover;
  }

  .aniScale{
    opacity: .7;
    transition: all .25s ease;
  }
  .aniScale:hover{
    opacity: 1;
    transform: scale(1.03);
  }
  .mouseOnBorder{
    border: solid .2rem rgba(255, 255, 255, 0);
    transition: all .25s ease;
  }
  .mouseOnBorder:hover{
    border: solid .2rem rgb(255, 255, 255);
  }
  .animated{
    transition: all .25s ease;
  }

  .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    gap: .5rem;
  }
  .smallTitle{
    width: auto;
    margin: 1rem auto;
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: white;
  }
  .profileImg{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }

  .inBubble{
    justify-content: center;
    border-radius: 100%;
    margin: 1rem auto;
    padding: 1.5rem;
    width: min-content;
    height: min-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/buble.v6.transparent.png");
  }

  .username{
    width: auto;
    text-align: center;
    font-size: 1rem;
    margin: 0;
  }

  .nombre{
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }

  .userinfo{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
  }

  .userBio{
    margin: 0 auto;
    width: 20rem;
    text-align: justify;
    font-size: .8rem;
  }

  .subInfoStack{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
    text-align: center
  }
  .cuantity>*{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin: 0;
  }
  .btnStack{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-evenly;
  }

  .editarPerfil{
    font-size: .7rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem auto;
    width: 20rem;
    padding: .3rem;
    font-weight: bold;
    border-radius: 10px;
    border:solid .2rem rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .profileBtn{
    font-size: .7rem;
    text-align: center;
    text-decoration: none;
    width: 8.5rem;
    padding: .3rem;
    font-weight: bold;
    border-radius: 10px;
    border:solid .2rem rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
  }

  .public{
    margin: 2rem auto 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35rem;
    height: max-content;
    border-radius: 30px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .profileView{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .sideStyle{
    margin: 4rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
  }


  .sideStyle::-webkit-scrollbar{
    display: none;
  }


  .divperfil{
    margin: auto 0;
    height: fit-content;
    width: 50%;
  }
  .inStory{
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    width: min-content;
    height: min-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/buble.v6.transparent.png");

  }
  .marco:hover{
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.44);

  }
  .story{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }

  .marco{
    border-radius: 25px;
    padding: 1rem;
    width: 10rem;
    height: 12rem;
    background-color: rgba(255, 255, 255, 0.43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem ;
  }

  .marco > p{
    font-size: .8rem;
    margin: .3rem;
    text-align: center;
  }

  .listaPublicaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .listaPublicaciones > p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
  }
}


