@media (max-device-width: 1200px) {
  .fStack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

  }
  .btnPrincipal{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: black;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: solid .2rem rgb(255, 255, 255);
    text-decoration: none;
  }::placeholder{
      color: rgba(255, 255, 255, 0.5);
     }
  .btnSecondary{
    border-radius: 50px;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(50px);
    border: solid .2rem rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(50px);
    text-decoration: none;
  }

  .p05-1{
    padding: .5rem 1rem;
    text-decoration: underline;
  }

  .wAuto{
    width: auto;
    text-align: center;
  }

  .homeImg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/bubble.v4.logo.v6.png");
    overflow: scroll;
  }
  .homeLogo{
    margin: 10rem auto;
    font-size: 3.5rem;
    font-family: 'Righteous', cursive;
    text-align: center;
  }
  .logoImg{
    width: auto;
    object-fit: cover;
  }

  .mouseOnBorder{
    border: solid .2rem rgba(255, 255, 255, 0);
    transition: all .25s ease;
  }
  .mouseOnBorder:hover{
    border: solid .2rem rgb(255, 255, 255);
  }
  .animated{
    transition: all .25s ease;
  }

  .inputfield{
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    width: 15rem;
    margin: auto;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: solid .2rem rgba(255, 255, 255, 0);
  }

  .inputfieldDate{
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    width: 12.5rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: solid .2rem rgba(255, 255, 255, 0);
    margin-top: 10px;
  }
  .inputfield:focus-visible{
    border: solid .2rem white;
  }

  .labelDate{
    color: rgba(240, 248, 255, 0.55);
    margin-left: 20%;
  }



  .n1buton{
    width: auto;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    color: black;
  }



  .n1link{
    width:auto;
    text-align: center;
    justify-content: center;
    padding: .5rem 1rem;
    margin: auto;
    text-decoration: none;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
  }
  .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
    gap: .5rem;
  }
  .smallTitle{
    width: auto;
    margin: 2rem auto;
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    color: white;
  }

  .profileImg{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }

  .inBubble{
    justify-content: center;
    border-radius: 100%;
    margin: 3rem auto 1rem auto;
    padding: 1.5rem;
    width: min-content;
    height: min-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/buble.v6.transparent.png");
  }

  .username{
    width: auto;
    text-align: center;
    font-size: 1rem;
    margin: 0;
  }

  .nombre{
    width: auto;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }

  .userinfo{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
  }

  .userBio{
    margin: 0 auto;
    width: 20rem;
    text-align: justify;
    font-size: .8rem;
  }

  .subInfoStack{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
    text-align: center
  }
  .cuantity>*{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin: 0;
  }
  .btnStack{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 21rem;
    justify-content: space-between;
  }

  .editarPerfil{
    font-size: .7rem;
    text-align: center;
    text-decoration: none;
    margin: 1rem auto;
    width: 20rem;
    padding: .3rem;
    font-weight: bold;
    border-radius: 10px;
    border:solid .2rem rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .profileBtn{
    font-size: .7rem;
    text-align: center;
    text-decoration: none;
    width: 9rem;
    padding: .3rem;
    font-weight: bold;
    border-radius: 10px;
    border:solid .2rem rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
  }

  .clearmob{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .public{
    font-size: .7rem;
    margin: 2rem auto 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 21rem;
    height: max-content;
    border-radius: 30px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .profileView{
    flex-direction: column;
  }
  .listaPerfiles{
    display: flex;
    flex-direction: column;

  }

  .sideStyle{
    margin: 1.5rem auto;
    min-width: 95%;
    max-width: 23rem;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .sideStyle::-webkit-scrollbar{
    display: none;
  }


  .divperfil{
    padding-top: 5rem;
    width: 100%;
    height: fit-content;
  }
  .inStory{
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
    padding: .6rem;
    width: min-content;
    height: min-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../assets/buble.v6.transparent.png");

  }

  .story{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }

  .marco{
    border-radius: 25px;
    padding: 1rem;
    width: 4rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem ;
  }

  .marco > p{
    font-size: .5rem;
    margin: .3rem;
    text-align: center;
  }

  .listaPublicaciones{
    max-width: 23rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .listaPublicaciones > p{
    width: 21rem;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    padding: .5rem 0;
    background-color: rgba(255, 255, 255, 0.43);

  }

  .botonPublicacionPerfil{
    text-align: center;
    border-radius: 5rem;
    width: 100px;
    height: 30px;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    margin: auto;

  }


  .clicMouse{
    cursor: pointer;
  }

  .publicationPage{
    margin: 5%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .comentarioView{
    text-align: left;
    padding: 1rem 0;
    margin-left: 5%;
    margin-right: 5%;
    width: auto ;
    height: auto;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.27);
    overflow-y: scroll;
  }
  .comentarioView::-webkit-scrollbar{
    display: none;
  }

  .publicationScroll{
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: auto ;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .publicationScroll::-webkit-scrollbar{
    display: none;
  }
  .publicationView{
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
  }
  .inputComentario{
    display: flex;
    flex-flow: row nowrap;
    width: auto ;
    margin: 5%;
    padding: 1rem;
    gap: 1rem;
  }
  .inputComentario>input{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    width: 70%;
    border-radius: 3rem;
    border: none;
  }
  .inputComentario>input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .inputComentario>a{
    width: fit-content;
    height: fit-content;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: .7rem 1.5rem;
    border-radius: 5rem;
    text-decoration: none;
  }

  .publication-img{
    width: 25rem;
    height: 25rem;
    margin: 3rem auto;
    border-radius: 5rem;
    object-fit: cover;

  }
  .publiP{
    font-size: .8rem;
    max-width: 30rem;
    color: rgba(255, 255, 255, 0.59);
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.21);
    text-align: justify;

  }
  .publicationView > p{
    margin:  auto;
    max-width: 30rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    text-align: justify;
  }
  .left{
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto 0 0;
  }
  .rigth{
    font-size: 2rem;
    width: fit-content;
    margin: 0 0 0 auto;
  }
  .dateHastagBox{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: fit-content;
    margin: 0 auto;
  }
  .dateHastagBox>img{
    height: 2.5rem;
    padding: .5rem;
    margin: auto 0;
    width: 2.5rem;
    object-fit: contain;
    border-radius: 5rem;
    background-color: #ff3636;
  }


  .followView{
    margin: 2rem 0 ;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 1rem ;
    border-radius: 2rem;
    width: 110%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-content: center;
    align-items: center;
  }
  .followView>div{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: 1rem;

  }
  .followView>div>img{
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    object-fit: cover;
  }

  .comentario{
    width: fit-content;
    max-width: 75%;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 1rem 2rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: 3px solid transparent;
  }
  .comentario >p{
    margin: 0;
  }

  .comentarioPropio:hover{
    background-color: rgb(196, 2, 2);
    color: white;
    border: 3px solid white;
  }

  .botonPublicacionPerfil{
    text-align: center;
    border-radius: 5rem;
    width: max-content;
    height: max-content;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    margin: auto;

  }

  .fStackScroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }


}
