<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="fStack purple homeImg">
<app-navegador></app-navegador>

<div class="cStack jCenter toHomePosition">
  <div class="smallTitle">- Perfil -</div>
</div>
<div>
  <img class="borrar" src="https://img.icons8.com/pulsar-color/256/trash.png" (click)="eliminarPerfil()">

  <form  [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
    <div class="row-content">
    <div class="espacioImagen">
      <img class="circle" src="{{perfil.file || perfil.fotoPerfil }}">
      <input type="file" class="n1buton aniScale"  placeholder="" formControlName="file" (change)="readUrl($event)">
    </div>
    <div class="column-content">
      <h2 class="white">- Elige tu nombre de usuario -</h2>
      <input class="inputfield animated white" type="text" [value]="perfil.username" formControlName="username">
      <h2 class="white ">- Descríbete -</h2>
      <input type="text" max="800" class="inputfield animated white margeninferior" [value]="perfil.descripcion"
             formControlName="descripcion">
      <button class="n1buton aniScale" (click)="editarPerfil(perfil)">Editar</button>
    </div>
    </div>
  </form>
</div>

</body>
</html>
