<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="vStack purple">

<app-navegador></app-navegador>

<div class="publicationPage animate__animated" *ngIf="publicacion_pagina">

  <div class="publicationScroll animate__animated animate__fadeInLeft">

    <div class="publicationView white animated " *ngIf="publicacion_pagina.tipoPublicacion=='imagen'">
      <div class="card">
        <img src="{{publicacion_pagina.imagen}}" class="publication-img animated cover" alt="">
        <div class="card-p animated">
          <p > - {{publicacion_pagina.texto}} </p>
        </div>
      </div>
      <div class="dateHastagBox">
        <p class="publiP">#{{publicacion_pagina.tematica}}</p>
        <p class="publiP">Publicado a {{publicacion_pagina.fechaPublicacion.toString() | slice:0:10}}</p>
        <img src="https://icons.veryicon.com/png/o/miscellaneous/small-face-icon/trash-111.png" class="btnSecondary aniScale " *ngIf="publicacion_pagina.id_perfil.id == id_perfil_localStg" (click)="eliminarPublicacion(publicacion_pagina.id_perfil.id)">
      </div>
    </div>

    <div class="publicationView white" *ngIf="publicacion_pagina.tipoPublicacion=='texto'">
      <p >- {{publicacion_pagina.texto}}</p>
      <div class="dateHastagBox">
        <p class="publiP">#{{publicacion_pagina.tematica}}</p>
        <p class="publiP">Publicado a {{publicacion_pagina.fechaPublicacion.toString() | slice:0:10}}</p>
        <img src="https://icons.veryicon.com/png/o/miscellaneous/small-face-icon/trash-111.png" class="btnSecondary aniScale " *ngIf="publicacion_pagina.id_perfil.id == id_perfil_localStg" (click)="eliminarPublicacion(publicacion_pagina.id_perfil.id)">
      </div>
    </div>

  </div>



  <div [ngSwitch]="sideVisibility" class="publicationView white animate__animated animate__fadeInRight">
    <h1>Comentarios</h1>

    <div *ngSwitchCase="visibleSection.COMENTARIOS"  class="comentarioView withShadow">
          <div *ngFor="let comentario of comentarios">
            <app-comentario [comentario]="comentario" [id_perfil_publicacion]="publicacion_pagina.id_perfil.id" [id_perfil_localStg]="id_perfil_localStg" ></app-comentario>
          </div>
    </div>

<!--  RECORRIENDO EL MAPA DE COMENTARIOS Y PERFILES...
    <div *ngSwitchCase="visibleSection.COMENTARIOS"  class="comentarioView withShadow">
      <div *ngFor="let comentario of comentarios">
        <div *ngFor="let perfil of comentario.id_perfil | keyvalue">
          <app-comentario [comentario]="comentario" [perfil]="perfil.value"></app-comentario>
        </div>
      </div>
    </div>
-->

    <div class="inputComentario ">
      <input class="withShadow" type="text" placeholder="Escribe un comentario ✍️"  [(ngModel)]="texto">
      <a class="withShadow aniScale" (click)="enviarMensaje()">⏎</a>
    </div>
  </div>
</div>


</body>
</html>
