.botones{
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
  padding-bottom: 2%;
}
button{
  margin: auto;
  max-width: 30rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0 20px 20px rgb(0 0 0 / 25%);
  text-align: justify;
  color: white;
}
.likes{
  display: flex;
  flex-flow: row nowrap;
  width: 40%;
  justify-content: space-evenly;
  margin: auto;
}
