.botones{
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin: auto;

}
a{
  width: 40%;
  background-color: antiquewhite;
  color: darkslateblue;
  border-radius: 5px;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}
