<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="vStack purple homeImg">

    <app-navegador></app-navegador>

    <div class="smallTitle titulo animate__animated animate__fadeInDown">Para ti</div>
    <div class="publicationArray animate__animated animate__fadeIn">
      <div *ngFor="let publicacion of publicacionesGlobales">
        <app-publicacion [publicacion]="publicacion" [id_perfil]="id_perfil" [id_publicacion]="publicacion.id"></app-publicacion>
      </div>
    </div>



</body>
</html>


