<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="fStack purple">

<div class="vStack">
  <div class="inBubble">
    <img class="profileImg" src="assets/appleportrait.jpg" /> <!--src="https://img.icons8.com/material-rounded/200/ffffff/user-male-circle.png"-->
  </div>
  <div class="userinfo semiWhite">
    <h3 class="nombre white">Emily Santana</h3>
    <h3 class="username white">@hola_soy_emily</h3>
    <p class="userBio">Como pasatiempo paso aquí mi tiempo. Intento vivir nuevas experiencias y compartirlo para que el mundo vea mas allá de sus propias murallas.</p>
    <div class="subInfoStack white">
      <div class="cuantity">
        <h3>Bubbles</h3>
        <h3>462</h3>
      </div>
      <div class="cuantity">
        <h3>Segidos</h3>
        <h3>194</h3>
      </div>
      <div class="cuantity">
        <h3>Segidores</h3>
        <h3>4.589</h3>
      </div>
    </div>
    <a class="editarPerfil mouseOnBorder white clearmob" href="/editarperfil">Editar perfil</a>

    <div class="btnStack">
      <a class="profileBtn mouseOnBorder white clearmob" href="#">Tus Bubles</a>
      <a class="profileBtn mouseOnBorder white clearmob" href="#">Tus Favoritos</a>
      <a class="profileBtn mouseOnBorder white clearmob" href="#">Guardado</a>
    </div>
  </div>

  <div class="public white">
    <h3>Aún no hay Bubbles publicados</h3>
  </div>

</div>
</body>
</html>
