<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
</head>
<body class="fStack purple ">

<div class="profileView" *ngIf="perfil">

  <div class="divperfil">
    <div class="inBubble">
      <img class="profileImg" src="{{perfil.fotoPerfil}}"/>
    </div>
    <div class="userinfo semiWhite">
      <h3 class="nombre white">{{perfil.username}}</h3>
      <h3 class="username white">{{perfil.username}}</h3>
      <p class="userBio">{{perfil.descripcion}}</p>
      <div class="subInfoStack white">
        <div class="cuantity">
          <h3>Bubbles</h3>
          <h3>{{publicaciones.length}}</h3>
        </div>
        <div class="cuantity" (click)="verSeguidos()">
          <h3>Seguidos</h3>
          <h3>194</h3>
        </div>
        <div class="cuantity" (click)="verSeguidores()">
          <h3>Seguidores</h3>
          <h3>4.589</h3>
        </div>
      </div>
      <a class="editarPerfil mouseOnBorder white clearmob" href="/editarperfil">Editar perfil</a>

      <div class="btnStack">
        <a class="profileBtn mouseOnBorder white clearmob" (click)="verBubbles()">Tus Bubles</a>
        <a class="profileBtn mouseOnBorder white clearmob" (click)="verfavoritos()">Tus Favoritos</a>

      </div>
    </div>
  </div>

  <div [ngSwitch]="sideVisibility" class="sideStyle">
    <div  class="listaPublicaciones " *ngSwitchCase="visibleSection.BUBBLES">
      <p>Tus Bubbles</p>

      <div *ngFor="let publicacion of publicaciones">
        <app-publicacion [publicacion]="publicacion"></app-publicacion>
      </div>
    </div>

    <div  class="listaPublicaciones" *ngSwitchCase="visibleSection.FAVORITES">
      <p>Tus favoritos</p>
    </div>

    <div  class="listaPublicaciones" *ngSwitchCase="visibleSection.FOLLOWERS" >
      <div *ngFor="let seguidor of seguidores" class="seguidores">
        <div class="inLittleBubble">
          <img class="profileImg" src="{{seguidor.fotoPerfil}}"/>
        </div>
        <div class="infoSeguidores">
          <h2>{{seguidor.username}}</h2>
          <h3>{{seguidor.descripcion}}</h3>
        </div>
      </div>
    </div>

    <div  class="listaPublicaciones" *ngSwitchCase="visibleSection.FOLLOWING">
      <p>Esto va a ser Seguidos</p>
    </div>

  </div>

</div>
</body>
</html>
