.listaPublicaciones{
  display: flex;
  flex-flow: row wrap;
  width: 83%;
  justify-content: center;
}
.divperfil{
  width: 40%;
}
.sideStyle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 58%;
  height: max-content;
  border-radius: 30px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Varela Round', sans-serif;
  color: white;
  margin: 2% 2% 2% 2%;
}
#fondoPerfil{
  margin-top: 0.5%;
}
.seguidores{
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  justify-content: flex-start
}
.infoSeguidores{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 7%;
}
.inLittleBubble{
  justify-content: center;
  border-radius: 100%;
  padding: 1.5rem;
  width: min-content;
  height: min-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("src/assets/buble.v6.transparent.png");
}
