<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
</head>
<body class="fStack purple ">

<div class="profileView" *ngIf="perfil">

  <div class="divperfil animate__animated animate__fadeInLeft">
    <div class="inBubble">
      <img class="profileImg" src="{{perfil.fotoPerfil}}"/>
    </div>
    <div class="userinfo semiWhite">
      <h3 class="username white">@{{perfil.username}}</h3>
      <p class="userBio">{{perfil.descripcion}}</p>
      <div class="subInfoStack white">
        <div class="cuantity">
          <h3>Bubbles</h3>
          <h3>{{publicaciones.length}}</h3>
        </div>
        <div class="cuantity" (click)="verSeguidos()">
          <h3>Seguidos</h3>
          <h3>194</h3>
        </div>
        <div class="cuantity" (click)="verSeguidores()">
          <h3>Seguidores</h3>
          <h3 *ngIf="seguidores.length != 0">{{seguidores.length}}</h3>
          <h3 *ngIf="seguidores.length == null">0</h3>
        </div>
      </div>
      <a *ngIf="id_perfil_localStg == id" class="editarPerfil mouseOnBorder white clearmob" [routerLink]="['/editarperfil', id]" >Editar perfil</a>
      <a *ngIf="id_perfil_localStg != id" class="editarPerfil mouseOnBorder white clearmob" >Seguir</a>

      <div class="btnStack">
        <a class="profileBtn mouseOnBorder white clearmob" (click)="verBubbles()">Bubbles</a>
        <a class="profileBtn mouseOnBorder white clearmob" (click)="verfavoritos()">Favoritos</a>

      </div>
      <a [routerLink]="['/crearPublicacion', id]" class="botonPublicacionPerfil aniScale clear">+</a>
    </div>
  </div>

  <div [ngSwitch]="sideVisibility" class="sideStyle animate__animated animate__fadeInRight">
    <div   *ngSwitchCase="visibleSection.BUBBLES" class="listaPublicaciones animate__animated animate__fadeIn">
      <div *ngIf="publicaciones.length == 0" >
        <h2>No hay Bubbles</h2>
      </div>
      <div *ngIf="publicaciones.length > 0" class="listaPublicaciones">
        <p>Bubbles</p>
        <div *ngFor="let publicacion of publicaciones">
          <app-publicacion [publicacion]="publicacion"></app-publicacion>
        </div>
      </div>
    </div>

    <div   *ngSwitchCase="visibleSection.FAVORITES" class="listaPublicaciones animate__animated animate__fadeIn">
      <div *ngIf="publicacionesporLikes.length == 0" >
        <p>No hay favoritos</p>
      </div>
      <div *ngIf="publicacionesporLikes.length > 0"  class="listaPublicaciones">
        <div *ngFor="let publicacion of publicacionesporLikes">
          <app-publicacion [publicacion]="publicacion"></app-publicacion>
        </div>
      </div>
    </div>

    <div  *ngSwitchCase="visibleSection.FOLLOWERS" class="listaPublicaciones animate__animated animate__fadeIn">
      <div *ngIf="seguidores.length == 0">
        <p>No tienes seguidores</p>
      </div>
      <div *ngIf="seguidores.length > 0">
        <div  *ngFor="let seguidor of seguidores" class="followView white">
            <img class="" src="{{seguidor.fotoPerfil}}"/>
            <p (click)="verPerfil(seguidor.id)">@{{seguidor.username | slice:0:10}}... </p>
            <app-boton-seguidores [id_seguidor]="seguidor.id" [id_perfil]="perfil.id" ></app-boton-seguidores>
        </div>
      </div>
    </div>

    <div  class="listaPublicaciones" *ngSwitchCase="visibleSection.FOLLOWING">
      <p>Esto va a ser Seguidos</p>
    </div>
  </div>
</div>
</body>
</html>
