<!doctype html>
<html lang="es" class="initial">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body class="fStack purple homeImg">

<form class="vStack">
  <div class="cStack">
    <div class="smallTitle">- Registro -</div>

      <input class="inputfield animated white" type="text" name="" placeholder="Nombre">
      <input class="inputfield animated white" type="text" name="" placeholder="Apellidos">
      <input class="inputfield animated white" type="text" name="" placeholder="Email">
      <input class="inputfield animated white" type="text" name="" placeholder="Teléfono">
      <input class="inputfield animated white" type="password" name="" placeholder="Contraseña">
      <div class="inputfield animated white">
        <label for="fecha" class="labelDate">*Fecha de nacimiento*</label>
        <input class="inputfieldDate animated white date" type="date" name="" id="fecha" placeholder="Fecha de nacimiento">
      </div>

    <div class="group">
      <a class="n1buton aniScale" href="/login">Entrar</a>
      <a class="n1link animated" href="/login">¿Tienes una cuenta?</a>
    </div>
  </div>


</form>
</body>
</html>
